#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: var(--dark-blue-alt);
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  z-index: 98;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: var(--blue);
  border: 3px solid var(--blue);
  color: #fff;
}

@media (max-width: 992px) {
  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 25px;
    right: 25px;
  }
}

@media only screen and (max-width: 798px) {
  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 20px;
    right: 20px;
  }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance { 
   from {
     opacity: 0;
     transform: scale3d(0.3, 0.3, 0.3);
   }
   to {
     opacity: 1;
   }    
 } */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
   from {
     opacity: 1;
   }
   to {
     opacity: 0;
     transform: scale3d(0.3, 0.3, 0.3);
   }
 } */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
